@font-face {
  font-family: "Fira Sans";
  src: url(/fonts/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Black";
  src: url(/fonts/FiraSans-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Black Italic";
  src: url(/fonts/FiraSans-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Bold";
  src: url(/fonts/FiraSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Bold Italic";
  src: url(/fonts/FiraSans-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Extra Bold";
  src: url(/fonts/FiraSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Extra Bold Italic";
  src: url(/fonts/FiraSans-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Extra Light";
  src: url(/fonts/FiraSans-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Light Italic";
  src: url(/fonts/FiraSans-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Italic";
  src: url(/fonts/FiraSans-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Light";
  src: url(/fonts/FiraSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Light Italic";
  src: url(/fonts/FiraSans-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url(/fonts/FiraSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Medium Italic";
  src: url(/fonts/FiraSans-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans SemiBold";
  src: url(/fonts/FiraSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Semi Bold Italic";
  src: url(/fonts/FiraSans-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Thin";
  src: url(/fonts/FiraSans-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Sans Thin Italic";
  src: url(/fonts/FiraSans-ThinItalic.ttf) format("truetype");
}
